* {
    transition: 0.5s ease;
}

input::placeholder {
    font-style: italic;
    color: lightgrey;
}

input {
    width: 50%;
    height: 50px;
}

.pagination {
    display: none;
}

.show {
    display: block;
    margin: 0 auto;
}

.show a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.searchBar {
    opacity: 0.7;
    margin-top: 130px;
}

.searchBar {
    position: absolute;
    padding: 5%;
}

.show a:hover:not(.active) {
    background-color: #ddd;
}

body {
    background-image: url('../img/photographer.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.searchBtn {
    background-color: #FB5014;
    color: white;
}

.searchBtn:hover {
    background-color: #F6320F;
}

#modal {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 2;
}

i {
    font-size: 50px;
    color: white;
}

i:hover {
    color: #fb5014;
}

.singlePhoto:hover {
    cursor: pointer;
}

.modalclass:hover {
    cursor: pointer;
}

/*
add to modal .closeBtn {
    float: right;
    padding: 10px;
    color: black;
    font-size: 25px;
}

.closeBtn:hover {
    color: #fb5014;
    cursor: pointer;
}
*/
